.nav {
  background-color: var(--clr-primary-400);
  width: 60px;
  height: 100%;
  border-radius: 7px;
  padding: 7px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(4, auto);
  align-content: center;
  justify-content: space-around;
}
.nav .nav_logo span {
  display: none;
}
@media screen and (min-width: 767px) {
  .nav {
    position: absolute;
    transition: 150ms all ease;
    overflow: hidden;
    height: 95%;
    z-index: 100;
  }
  .nav .nav_logo {
    transform: translateX(4.75rem);
  }
  .nav .nav_logo span {
    display: inline;
    transition: 150ms all ease;
    opacity: 0;
  }
  .nav:hover {
    width: 200px;
  }
  .nav:hover .nav_logo {
    transform: translateX(0rem);
  }
  .nav:hover .nav_logo span {
    opacity: 1;
  }
  .nav_logo {
    width: 12rem;
    grid-auto-flow: column;
    gap: 0.25rem;
    align-items: center;
    text-align: left;
    justify-content: left;
  }
}
.nav_logo {
  height: fit-content;
  display: grid;
  color: var(--clr-light);
  margin: 15px 0px;
  padding: 5px;
  border-radius: inherit;
  cursor: pointer;
  transition: 250ms all ease;
}
.nav_logo:hover {
  background-color: var(--clr-primary-300);
}

.sidebar {
  background-color: var(--clr-primary-400);
  color: var(--clr-light);
  width: 350px;
  height: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 20px;
  padding-bottom: 60px;
  gap: 20px;
  position: relative;
}
.sidebar_section {
  padding: 5px;
  border-radius: inherit;
  cursor: pointer;
  transition: 250ms all ease;
  display: grid;
  align-content: center;
  justify-items: center;
}
.sidebar_section:hover {
  background-color: var(--clr-primary-300);
}
.sidebar_section p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  user-select: none;
}
.sidebar_section span {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
  user-select: none;
}
@media (max-width: 968px) {
  .nav {
    height: 60px;
    width: 100%;
    padding: 0px;
    grid-auto-flow: column;
    grid-template-rows: none;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    border-radius: 0;
  }
  .nav_logo {
    margin: 0;
    padding: 8px;
  }
  .sidebar {
    width: 100%;
    height: 450px;
    padding: 20px;
    padding-bottom: 50px;
  }
  .sidebar_section {
    padding: 0;
  }
  .sidebar_section p {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.15rem;
  }
  .sidebar_section span {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
  }
}
.permission {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.15rem;
  cursor: pointer;
}
.close {
  position: absolute;
  background-color: var(--clr-primary-300);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 250ms all ease;
  opacity: 0.75;
}
.close * {
  stroke: white;
}
.close:hover {
  opacity: 1;
}
