.login_bg {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.login_card {
  background-color: var(--clr-light);
  box-shadow: var(--clr-primary-300) 0px 0px 5px;
  height: 70%;
  width: 30%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 5rem;
  font-weight: 400;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
  display: grid;
  align-content: center;
  justify-items: center;
}
.register_card {
  gap: 10px;
}
.login_card_header {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.login_input {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--clr-primary-300);
  border-radius: 5px;
}
.login_input_batch {
  width: 16%;
  padding: 5px;
  border: 1px solid var(--clr-primary-300);
  border-radius: 5px;
}
.login_detail_collect_batch > div > input:nth-child(2) {
  width: 12%;
  user-select: none;
}
.login_detail_collect_batch {
  margin-top: 10px;
}
.login_btn {
  border-radius: 8px;
  min-width: 85%;
  min-height: 50px;
  transition: 250ms all ease;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 35px;
  color: var(--clr-light);
  background-color: var(--clr-primary-400);
  border: none;
}
.login_btn:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary-400);
  border: 1px dashed var(--clr-primary-300);
}
.login_btn:not(:hover) > .login_btn_section > svg > path {
  fill: white;
}
@media (max-width: 768px) {
  .login_card {
    width: 90%;
  }
  .login_input_batch {
    width: 18%;
  }
  .login_btn {
    min-width: 90%;
    padding: 0 10px;
  }
}
