.loader_occupier {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    height: 30px;
    width: 30px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    -webkit-animation: spin 1.7s ease infinite; /* Safari */
    animation: sviwel 1.7s ease infinite;
    animation: spin 1.7s ease infinite;
  }
  @keyframes sviwel {
    0% {
      transform: rotate(0deg) rotateY(360deg);
    }
    50% {
      transform: rotate(180deg) rotateX(0deg);
    }
    100% {
      transform: rotate(360deg) rotateY(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      border-bottom: 3px solid transparent;
    }
    100% {
      transform: rotate(360deg);
      border-bottom: 3px solid transparent;
    }
  }