.add_certificate_form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  color: var(--clr-primary-500);
}
.markInfo {
  background-color: var(--clr-primary-100);
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  position: relative;
}
.white {
  background-color: white;
}
.markInfo h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-primary-500);
}
.info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.info p {
  font-weight: 400;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 300px;
}
.info label {
  width: 100%;
  text-align: end;
}
.link {
  text-decoration: underline;
  color: var(--clr-primary-250);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .add_certificate_form {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .markInfo {
    padding: 6rem 0rem;
  }
  .info {
    grid-template-columns: 1fr 2fr;
  }
  .info p {
    width: 220px;
  }
}
.btn {
  border: 1px solid var(--clr-primary-400);
  color: black;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 0.75rem;
}
.loading {
  animation: spin 1s ease;
  animation-iteration-count: infinite;
}
.btn span {
  height: 18px;
  width: 18px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.inputBox {
  border: 1px solid var(--clr-primary-250);
  width: 75px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0px;
}
.btn2,
.btn3 {
  background-color: white;
  border: 1px solid var(--clr-primary-250);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.1s all ease-in-out;
  text-transform: uppercase;
}
.btn2:hover,
.btn3:hover {
  background-color: var(--clr-primary-250);
  color: white;
}
.btnHolder {
  margin-top: 10px;
}
.remark {
  padding: 10px;
  width: 33vw;
  border: 1px solid var(--clr-primary-250);
  border-radius: 5px;
}
.remark::placeholder {
  opacity: 0.75;
}
@media screen and (max-width: 767px) {
  .remark {
    width: 78vw;
  }
}
.btn3 {
  position: absolute;
  top: 1em;
  left: 1em;
}
